.d-none {
    display: none;
}

.brand-logo {
    min-width: 90px;
}

.show-only-plaspy {
    display: none;
}

.not-plaspy-host .hide-only-plaspy {
    display: none;
}

footer {
    display: none;
}

.plaspy-host .hide-only-plaspy {
    display: none;
}

.plaspy-host .show-only-plaspy {
    display: inherit;
}

.plaspy-host footer {
    display: inherit;
}